[Unit]
Description=Focus Mode DBus Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/focusd
Restart=on-failure

[Install]
WantedBy=multi-user.target
